@using PersonalWeb.Web.Controls
@using PersonalWeb.Web.Resources
@{
	ViewBag.Title = Html.GetResource("TwitterStatisticTitle");
}


<div class="post">
    <h1>@Html.GetResource("TwitterStatisticTitle")</h1>
	<p>@Html.GetResource("TwitterStatisticInfo")</p>
	<p><img style="border-right-width: 0px; display: inline; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px" title="Capture" border="0" alt="Capture" src="http://outcoldman.ru/library/images/01/0000065.png" width="638" height="494" /> </p>
	<h4>@Html.IsRussian() ? "Ссылки" : "Links" </h4>
	<ul>
	  <li><a href="http://outcoldman.ru/library/content/01/TwitterCloud%201.0%20bin.zip" target="_blank">TwitterCloud 1.0 bin.zip</a> </li>

	  <li><a href="http://outcoldman.ru/library/content/01/TwitterCloud%201.0%20src.zip" target="_blank">TwitterCloud 1.0 src.zip</a> </li>
	</ul>
</div>

 @Html.Partial("Advertising") 



