@{
	ViewBag.Title = Html.GetResource("Search"); 
}

@if (Html.IsRussian())
{
<div id="cse" style="width: 100%;">Loading</div>
<script src="//www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
	google.load('search', '1', { language: 'ru', style: google.loader.themes.MINIMALIST });
	google.setOnLoadCallback(function () {
		var customSearchControl = new google.search.CustomSearchControl('005692433297925457770:cxsak-k6vme');
		customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
		customSearchControl.draw('cse');
	}, true);
</script>    
}
else
{
<div id="cse" style="width: 100%;">Loading</div>
<script src="//www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
	google.load('search', '1', { language: 'en', style: google.loader.themes.MINIMALIST });
	google.setOnLoadCallback(function () {
		var customSearchControl = new google.search.CustomSearchControl('005692433297925457770:rj62h6cmfzi');
		customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
		customSearchControl.draw('cse');
	}, true);
</script>     
}
<br class="clear" />
@Html.Partial("Advertising")
