<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="SendNotifications" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="DefaultCacheValue" value="120" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SiteUrl" value="http://outcoldman.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>

</configuration>