@using Microsoft.Web.Helpers
@{
    ViewBag.Title = "Gladkikh Denis: About Me / CV";
}


<article itemscope itemtype="http://www.data-vocabulary.org/Person">

    <img itemprop="photo" src="@Gravatar.GetUrl("outcoldman@gmail.com", imageSize: 200)" alt="photo" />

    <h2><span itemprop="name">Denis Gladkikh</span> (<span itemprop="nickname">outcoldman</span>)</h2>

    <div>

        <h3 itemprop="title">Software Developer</h3>

        <p>January 20, 1985.</p>

        <h2>Contacts:</h2>

        <ul class="contacts">
            <li>
                <img src="~/Content/images/email.ico" alt="LinkedIn" />
                Email: <a href="mailto:outcoldman@gmail.com">outcoldman@outlook.com</a> </li>
            <li>
                <img src="~/Content/images/map.ico" alt="LinkedIn" />
                Location: <a href="http://www.bing.com/maps/?q=Redmond, WA, USA">Redmond, WA, USA</a> </li>
            <li>
                <img src="~/Content/images/linkedin.ico" alt="LinkedIn" />
                LinkedIn: <a href="http://ru.linkedin.com/in/outcoldman" rel="nofollow">http://ru.linkedin.com/in/outcoldman</a> </li>
            <li>
                <img src="~/Content/images/GitHub.ico" alt="GitHub" />
                GitHub: <a href="https://github.com/outcoldman" rel="nofollow">https://github.com/outcoldman</a></li>
            <li>
                <img src="~/Content/images/Assembla.ico" alt="Assembla" />
                Assembla: <a href="http://ru.linkedin.com/in/outcoldman" rel="nofollow">https://www.assembla.com/.../outcoldman</a> </li>
            <li>
                <img src="~/Content/images/CodePlex.ico" alt="CodePlex" />
                CodePlex: <a href="http://www.codeplex.com/site/users/view/outcoldman" rel="nofollow">http://www.codeplex.com/.../outcoldman</a></li>
        </ul>

        <h2>Skills:</h2>

        <p>At sum have more than @Math.Round(((DateTime.Now - new DateTime(2005, 5, 1)).TotalDays) / 365) years’ experience in developing applications and components.</p>
        <ul>
            <li>Web App, C#: ASP.NET, WebServices, JavaScript, AJAX</li>

            <li>Client App Dev, C#: WinForms, WPF, Silverlight</li>

            <li>MS SQL (2000/2005/2008), T-SQL</li>

            <li>ORM: NHibernate, ActiveRecord, Linq-to-SQL, Entity Framework</li>

            <li>Client App Dev, C++: MFC, STL</li>

            <li>SSL, Certificates, Cryptography in applications</li>

            <li>WSS 3.0/MOSS 2007</li>

            <li>.NET Technologies: WCF, WF</li>
        </ul>
        <h2>Work Experience: </h2>

        <h3>June 2011 - Present. <a href="http://microsoft.com" rel="nofollow">Microsoft</a>. Visual Studio Ultimate Team. Software Design Engineer II.</h3>

        <ul>
            <li>Developing profiling and code analysis tools for Visual Studio.</li>
        </ul>

        <h3>Mar 2010 – June 2011. <a href="http://www.msiuk.com" rel="nofollow">Mobile Systems International Ltd</a> (UK based company), Remote Job, Long Contract. C# Developer, Software Developer. </h3>

        <ul>
            <li>Mobile network management Silverlight application build on top of SQL Server business intelligence.</li>
        </ul>

        <h3>Dec 2007 – Feb 2010. <a href="http://fogsoft.ru" rel="nofollow">FogSoft LLC</a>, Yaroslavl. C# Developer, Software architect. </h3>

        <ul>
            <li>Developing application for advertising agencies with WinForms and Stored Procedures using MS SQL 2000/2005. Optimization of application performance (server sql queries).
            </li>
            <li>Developing some ASP.NET applications for government and enterprise companies using inside company engine. Taking part in engine upgrading.
            </li>
            <li>Developing CRM application using WPF. Creating components for this application like file storage server with WCF, WPF controls and other. Taking part in performance optimization of WPF GUI.
            </li>
            <li>Design solutions based on WSS 3.0 and MOSS 2007.
            </li>
            <li>Experience in projects appraisal. 
            </li>
        </ul>

        <h3>Jan 2005 – Nov 2007. <a href="http://it-co.ru" rel="nofollow">IT-Co</a>, Moscow. Worked at home (seat in Yaroslavl). C++ Developer, ASP.NET Developer, Project Lead. </h3>
        <ul>
            <li>Developing windows <a href="http://roxtec.ru/design_enu.php" rel="nofollow">application for engineers</a> based on MFC using DB Access. Developed engine for creating specification documentation for projects, automating drawing of projects drafts, exporting to the “dfx” format and other new functionality. By the end of my participation I was the project lead.
            </li>
            <li>Developing prototype Add-in with COM for integration our solution with SolidWorks.
            </li>
            <li>Developing some ASP.NET Applications for corporate use. Wrote engine for creating enterprise applications using MVC pattern, NHibernate ORM and DB MS SQL 2000/2005.
            </li>
        </ul>

        <h2>Education:</h2>

        <h3>Nov 2007 – Present. Yaroslavl State University. Postgraduate Student.</h3>
        <p>Applied Mathematics and Computer Science, Department of differential equations. Research on “greedy” algorithms in Marzenkewitz and Lorentz spaces.</p>
        <p>Publications:</p>
        <ul>
            <li>Functional languages application. Realization wavelet-compress for images with F#.
            </li>
            <li>Images search with wavelet-transformation. Realization with F#.
            </li>
            <li>Estimates Cordoba-Fernandez operator in Marcinkiewicz spaces.
            </li>
            <li>Lower bounds for exponential sums in Marcinkiewicz spaces.
            </li>
        </ul>

        <h3>Sep 2002 – Jun 2007. Yaroslavl State University. Specialist / Master degree. </h3>
        <p>Applied Mathematics and Computer Science, Department of differential equations.</p>

        <h2>Certification:</h2>
        <ul>
            <li>May 2009 – Microsoft Certified Technology Specialist (MCTS) - .NET Framework 3.5, ASP.NET Applications.
            </li>
            <li>Dec 2009 – Microsoft Certified Professional Developer (MCPD) - .NET Framework 3.5, ASP.NET Applications.
            </li>
            <li>Feb 2010 – Microsoft Certified Technology Specialist (MCTS) - .NET Framework 3.5, Windows Presentation Foundation
            </li>
            <li>Jun 2010 – Microsoft Certified Technology Specialist (MCTS) - .NET Framework 4, Windows Applications
            </li>
            <li>Sep 2010 – Microsoft Certified Technology Specialist (MCTS) - Windows Communication Foundation 4
            </li>
            <li>Oct 2010 – Microsoft Certified Technology Specialist (MCTS) - .NET Framework 4, Data Access
            </li>
            <li>Oct 2010 – Microsoft Certified Professional Developer (MCPD) - Windows Developer 4
            </li>
            <li>Oct 2010 – Microsoft Certified Technology Specialist (MCTS) - Silverlight 4, Development
            </li>
        </ul>

        <h2>Languages:</h2>

        <ul>
            <li>Russian – Native language
            </li>
            <li>English – Advanced
            </li>
        </ul>

        <h2>Honors & Awards:</h2>

        <p>Jul 2009 – June 2011. Microsoft Most Valuable Professional, Client App Dev.</p>

        <h2>Professional Memberships:</h2>

        <ul>
            <li>Microsoft Student Partner (2009-2010).</li>
            <li><a href="http://ineta.ru" rel="nofollow">Ineta User Groups</a> - .NET Associations. Group Leader of <a href="http://yargu.ineta.ru" rel="nofollow">Yaroslavl Student .NET Association</a> and Speaker of <a href="http://yana.ineta.ru" rel="nofollow">Yaroslavl .NET Association</a>.</li>
            <li><a href="http://gotdotnet.ru" rel="nofollow">GotDotNet Team</a>. Forum moderator and articles author.</li>
        </ul>

    </div>
</article>




