@model IEnumerable<BlogPostModel>
@using OutcoldSolutions.Web.Blog.Models.Repositories
@using OutcoldSolutions.Web.Blog.Resources
@{
	ViewBag.Title = "outcoldman: " + Html.GetResource("HomePage");
}

<section class="leftSection">
    
    <div class="clear-fix">
        @foreach (var item in Model) { 
            @Html.Partial("ShowBlogItem", item)
        } 
    </div>
	
    <div class="float-left">
        @Html.Raw(string.Format(Html.GetResource("FindMore"), Html.ActionLink(Html.GetResource("Blog"), "index", "blog")))
    </div>

    <div class="float-right">
        @Html.Partial("FeedBurner") 
    </div>

</section>

<aside>

	<ul class="tags">
		@foreach (GetTopTagsResult tag in (List<GetTopTagsResult>)ViewData["toptags"])
		{
		    <li>@Html.ActionLink(tag.Name, "tag", "blog", new { id = tag.TagID }, new { @class = "tag" + tag.TagType, rel = "tag" }) </li>
		}
	</ul>
    
    <div class="default-vertical-padding">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
	    <script>
	        new TWTR.Widget({
	            version: 2,
	            type: 'profile',
	            rpp: 5,
	            interval: 6000,
	            width: "100%",
	            height: 300,
	            theme: {
	                shell: {
	                    background: '#919191',
	                    color: '#ffffff'
	                },
	                tweets: {
	                    background: '#ebe8d9',
	                    color: '#5a5a5a',
	                    links: '#650000'
	                }
	            },
	            features: {
	                scrollbar: false,
	                loop: false,
	                live: false,
	                hashtags: true,
	                timestamp: true,
	                avatars: false,
	                behavior: 'all'
	            }
	        }).render().setUser('outcoldman').start();
	    </script>
    </div>

</aside>