@{
	Layout = "";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>outcoldman OpenID</title>
	<link rel="openid.server" href="http://www.myopenid.com/server" />
	<link rel="openid.delegate" href="http://outcoldman.myopenid.com/" />
    <link rel="openid2.local_id" href="http://outcoldman.myopenid.com" />
    <link rel="openid2.provider" href="http://www.myopenid.com/server" />
    <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=outcoldman.myopenid.com" />
</head>
<body>

<script type="text/javascript">
	window.location = "http://outcoldman.com"
</script>

    <div>
    	Please, click <a href="http://outcoldman.com">here</a>
    </div>
</body>
</html>
