fieldset.edit
{
}

fieldset.edit p
{
    padding:15px;
}

fieldset.edit input[type=text],
fieldset.edit textarea
{
    width: 98%;
}

.validation-summary-errors, .field-validation-error
{
    color:Red;
}

.input-validation-error
{
    border: 1px solid #ffeeee;
    background-color: #ffeeee;
}