@{
	Layout = "~/Views/Shared/_Site.cshtml";
}


@RenderBody()

@section Head {
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-7023371-5']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
}

@section BottomContent {

@if (Html.IsRussian()) {
	
<script type="text/javascript"><!--
	reformal_wdg_w = "713";
	reformal_wdg_h = "450";
	reformal_wdg_domain = "outcoldman";
	reformal_wdg_mode = 0;
	reformal_wdg_title = "Denis Gladkikh (outcoldman)";
	reformal_wdg_ltitle = "Оставьте свой отзыв";
	reformal_wdg_lfont = "Verdana, Geneva, sans-serif";
	reformal_wdg_lsize = "12px";
	reformal_wdg_color = "#f57e29";
	reformal_wdg_bcolor = "#516683";
	reformal_wdg_tcolor = "#FFFFFF";
	reformal_wdg_align = "left";
	reformal_wdg_charset = "utf-8";
	reformal_wdg_waction = 1;
	reformal_wdg_vcolor = "#9FCE54";
	reformal_wdg_cmline = "#E0E0E0";
	reformal_wdg_glcolor = "#105895";
	reformal_wdg_tbcolor = "#FFFFFF";
	reformal_wdg_tcolor_aw4 = "#3F4543";

	reformal_wdg_bimage = "7688f5685f7701e97daa5497d3d9c745.png";
 //-->
</script>

<script type="text/javascript" src="http://widget.reformal.ru/tabn2v3.js"></script>

} else {

<script type="text/javascript"><!--
	reformal_wdg_w = "713";
	reformal_wdg_h = "450";
	reformal_wdg_domain = "outcoldman";
	reformal_wdg_mode = 0;
	reformal_wdg_title = "outcoldman";
	reformal_wdg_ltitle = "Leave feedback";
	reformal_wdg_lfont = "";
	reformal_wdg_lsize = "";
	reformal_wdg_color = "#f57e29";
	reformal_wdg_bcolor = "#516683";
	reformal_wdg_tcolor = "#FFFFFF";
	reformal_wdg_align = "left";
	reformal_wdg_waction = 1;
	reformal_wdg_vcolor = "#9FCE54";
	reformal_wdg_cmline = "#E0E0E0";
	reformal_wdg_glcolor = "#105895";
	reformal_wdg_tbcolor = "#FFFFFF";

	reformal_wdg_bimage = "8489db229aa0a66ab6b80ebbe0bb26cd.png";
 //-->
</script>

<script type="text/javascript" src="http://widget.idea.informer.com/tabn2v3.js"></script><noscript><a href="http://outcoldman.useridea.com">outcoldman feedback</a> <a href="http://useridea.com"> Powered by <img src="http://widget.useridea.com/i/reformal_ru.png" /></a></noscript>

}

}





