@using OutcoldSolutions.Web.Blog.Resources
@model OutcoldSolutions.Web.Blog.Models.UnsubscribeModel


@{
	ViewBag.Title = "outcoldman: " + Html.GetResource("UnsubscribeTitle");
}


<section class="default-vertical-padding">
    <h1>@Html.ActionLink(Model.BlogTitle, "show", "blog", new { id = Model.PostId }, null)</h1>
    <p>@Html.GetResource("UnsubscribeQuestion")</p>
</section>


@using (Html.BeginForm())
{
    <input type="submit" class="float-left" value="@Html.GetResource("Unsubscribe") "  />
}



