@using OutcoldSolutions.Web.Blog.Core.Util
@if (ConfigurationUtil.GetSettings("ShowAdvertising", false)) {
<a href="http://addconf.ru/index.sdf/ru/add_2011"><img src="http://outcoldman.ru/resources/advertising/add2.gif" title="ADD2" alt="ADD2" style="margin-bottom: 20px" /></a>
 }