@using PersonalWeb.Web.Controls
@if (Html.IsRussian()) { 
<a href="http://feeds.feedburner.com/Outcoldman"><img src="http://feeds.feedburner.com/~fc/Outcoldman?bg=F27F32&amp;fg=FFFFFF&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
 } else {
<a href="http://feeds.feedburner.com/outcoldman_en"><img src="http://feeds.feedburner.com/~fc/outcoldman_en?bg=F27F32&amp;fg=FFFFFF&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
 } 
