@using PersonalWeb.Core.Util
@using PersonalWeb.Web.Controls
<a href="http://feeds.feedburner.com/Outcoldman@(Html.IsRussian() ? "" : "_en")">
	<img alt="rss" src="@NavigationHelper.GetSiteUrl("/Content/images/rss64.png") " />
</a>
<a href="http://twitter.com/outcoldman">
	<img alt="twitter" src="@NavigationHelper.GetSiteUrl("/Content/images/twitter64.png") " />
</a>