@using OutcoldSolutions.Web.Blog.Helpers
<a href="http://feeds.feedburner.com/Outcoldman@(Html.IsRussian() ? "" : "_en")">
	<img alt="rss" src="~/Content/images/rss64.png" />
</a>
<a href="http://twitter.com/outcoldman">
	<img alt="twitter" src="~/Content/images/twitter64.png" />
</a>