@using OutcoldSolutions.Web.Blog.Helpers
<ul>
    <li>
        <a href="http://feeds.feedburner.com/Outcoldman@(Html.IsRussian() ? string.Empty : "_en")">
            <img alt="rss" src="~/Content/images/rss64.png" />
        </a>
    </li>
    <li>
        <a href="http://twitter.com/outcoldman">
            <img alt="twitter" src="~/Content/images/twitter64.png" />
        </a>
    </li>
</ul>
